<div>
    <h2>Registro de Juegos</h2>
    <mat-card>
        <form class="form-juego"  [formGroup]="juegoForm" (ngSubmit)="registrarJuego()">
            <mat-form-field class="full-width">
                <input matInput formControlName="f_local" placeholder="Equipo Local" name="local" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Equipo Visitante" formControlName="f_visitante"  name="visitante" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="number" matInput placeholder="Goles Equipo Local" formControlName="f_anotacioneslocal" name="anotacioneslocal" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="number" matInput placeholder="Goles Equipo Visitante" formControlName="f_anotacionesvisitante" name="anotacionesvisitante" required >
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Lugar" formControlName="f_lugar" name="lugar" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Jugador Destacado" formControlName="f_jugadordestacado" name="jugadordestacado" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="date" matInput placeholder="Fecha" formControlName="f_fecha" name="fecha" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="juegoForm.invalid" >Registrar Juego</button>
        </form>
    </mat-card>
</div>

<mat-divider></mat-divider>

<h2>Resultados Anteriores</h2>
<div *ngFor="let juego of juegos" style="margin-top: 5px;">
<mat-accordion class="juego-header-aling" >
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{juego.local}} VS {{juego.visitante}}
            </mat-panel-title>
            <mat-panel-description>
                {{juego.lugar}}
                <mat-icon>check_circle_outline</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Resultado: {{juego.anotacioneslocal}} - {{juego.anotacionesvisitante}}</p>
        <p>Jugador Destacado : {{juego.jugadordestacado}}</p>
        <p>Lugar: {{juego.lugar}}</p>
        <p>Fecha: {{juego.fecha}}</p>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
</div>
